* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    outline: none;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg-default);
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background-color: #DEDEDE;
}

::-webkit-scrollbar-thumb {
    background-color: #2F0F48;
}

a {
    text-decoration: none;
}

input[type=button] {
    padding: 17px 34px;
    background-color: var(--secondary);
    border-radius: 10px;
    font: 18px 'Jost Regular';
    color: #FFF;
    cursor: pointer;
}

input[type=button]:hover {
    background-color: rgb(151, 48, 255);
}

@media (max-width: 800px) {
    input[type=button] {
        padding: 9px 22px;
    }
}